  #headers{ 
    border-radius: 6px;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    margin: 50px 350px;
    

} 
#dash{
    color:gray;
    font-weight: 600;
}
.banner{
    max-width: 59.99px 117px;
    padding: 84px 197px 162px 115px;
  
}
 .Idea{
    font-weight: 600,200;
    
 }
.explores{
    
    background-color: rgb(81, 235, 51);
    /* margin: 50px 200px; */
    font-weight: bold;
    padding: 18px 30px;
    border-radius: 5px;
    margin-top: 35px;

}
.explores:hover{
    background-color: rgb(81, 235, 51);
    color: #fff;
}


.hero{
    display: flex;
    
}
.vision{
    margin: 50px 350px;
   
}
.future{
    display: flex;
}
.digital{
    border-radius: 6px;
    margin: 35px;
   background-color: rgb(83, 179, 83); 
   padding: 35px;
}
.learn{
    border-radius: 5px;
    background-color:green;
    padding: 10px;
    border-radius: 6px;

} 
.learn:hover{
    background-color: green;
    color: #fff;
    
}
.btu{
    border-radius: 5px;
    background-color:red;
    padding: 10px;
}
.btu:hover{
    background-color: red;
    color: #fff;
}
.data{
   font-weight: 800;

}
.read{
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(31, 218, 31);
    padding: 10px 25px ;
}
.read:hover{
    background-color: rgb(31, 218, 31);
    color: #fff;
}
#aljazeera{


    padding: 50px;
}
.satellite{
    display: flex;
    background-color: aliceblue;
    border-radius: 6px;
}

