  #headers{ 
    border-radius: 6px;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    margin: 50px 350px;
    

} 
#dash{
    color:gray;
    font-weight: 600;
}
.banner{
    max-width: 59.99px 117px;
    padding: 84px 197px 162px 115px;
  
}
 .Idea{
    font-weight: 600,200;
    
 }
.explores{
    
    background-color: rgb(81, 235, 51);
    /* margin: 50px 200px; */
    font-weight: bold;
    padding: 18px 30px;
    border-radius: 5px;
    margin-top: 35px;

}
.explores:hover{
    background-color: rgb(81, 235, 51);
    color: #fff;
}


.hero{
    display: flex;
    
}
.vision{
    margin: 50px 350px;
   
}
.future{
    display: flex;
}
.digital{
    border-radius: 6px;
    margin: 35px;
   background-color: rgb(83, 179, 83); 
   padding: 35px;
} 
.bank{

    margin:50px 350px ;
    padding: 10px;
    background-color: azure; 
}
    

#yunus{
    background-color: yellow;
    padding: 25px;;
    border-radius: 6px;
}

.learn{
    border-radius: 5px;
    background-color:green;
    padding: 10px;
    border-radius: 6px;

} 
.learn:hover{
    background-color: green;
    color: #fff;
    
}
.btu{
    border-radius: 5px;
    background-color:red;
    padding: 10px;
}
.btu:hover{
    background-color: red;
    color: #fff;
}
.data{
   font-weight: 800;

}
.read{
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(31, 218, 31);
    padding: 10px 25px ;
}
.read:hover{
    background-color: rgb(31, 218, 31);
    color: #fff;
}
#aljazeera{


    padding: 50px;
}
.satellite{
    display: flex;
    background-color: aliceblue;
    border-radius: 6px;
}
.today{
    display:text-align;
    margin: 50px 450px;
}
.btun{
    display: flex; 
   
}
.taka{
    background-color: beige;
    margin: 20px;
    padding: 50px 35px;
    border-radius: 6px;
}
#taka{
    background-color: aquamarine;
    margin: 20px;
    padding: 50px 35px;
    border-radius: 6px;
}
.taka:hover{
    background-color:beige;
    color: #fff;
}
#taka:hover{
    background-color: aquamarine;
    color: #fff;
}
#done{
    margin: 50px 547px;  
   
    background-color: green;
    padding: 5px;
}
#done:hover{
    background-color:aquamarine;
    color: aquamarine;
    padding: 10px;
}
.nation{
   
}
.aims{
    display:text-align;
    background-color: aquamarine;

}
.bton{
    display:text-align;
}
.bd{
    background-color: aliceblue;
    padding: 10px;
    display:text-align;
   
}
.book{
    background-color: aliceblue;
    display: text-align;
}
